@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
.padrehader {
  display: flex;
  justify-content: center;
  padding: 20px;
}
.navBar {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  width: 1500px;
}

.enlacesnavbar {
  width: 600px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
}

.botoncirc {
  border-radius: 4px;
  font-size: 16px;
  width: 130px;
  height: 40px;
  background-color: #485098;
  color: #fff;
  font-weight: bold;
  border-color: #485098;
}
.logito {
  width: 70px;
}

.inicio {
  color: #485098;
}

.gif {
  width: 750px;
}

.padretextobaner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1650px;
  padding: 50px;
}

.baner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cibertech {
  font-size: 100px;
}
.lema {
  padding-bottom: 70px;
}

.contactbanner {
  display: flex;
  justify-content: center;
}

.contactbannerpadre {
  width: 1600px;
  display: flex;
  justify-content: space-between;
}

.socialmedia {
  display: flex;
  justify-content: space-between;
  width: 600px;
}

.phone {
  display: flex;
  align-items: center;
  padding: 5px;
}

.mail {
  display: flex;
  align-items: center;
}

.mediaimg {
  display: flex;
  padding: 5px;
}
